/* Variables */
:root {
  --gradient-purple: #6800ff;
  --gradient-pink: #ba00ff;
  --gradient: linear-gradient(0deg, var(--gradient-pink) 0%, var(--gradient-purple) 100%);
  --gradient-45deg: linear-gradient(45deg, var(--gradient-pink) 0%, var(--gradient-purple) 100%);
  --gradient-90deg: linear-gradient(90deg, var(--gradient-pink) 0%, var(--gradient-purple) 100%);

  --primary-color: #9200ff;
  --bg-color: #fdfdfd;
  --bg-dark: #131313;

  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Background */
.hero-bg {
  --bg-darkness: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 1) 100%);
  background: var(--bg-darkness) center, url(assets/Peliculas-Ready-Player-One.jpg) center / 798px;
}
